*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.dvi
*.exe
*.ilk
*.pdb
*.ipch
*.sdf
*.suo
*.tlog
*.obj
*.exe.*
*.lastbuildstate
*.idb
*.dll
*.exp
*.lib
*.dll.embed.manifest
*.dll.embed.manifest.res
*.dll.intermediate.manifest
*.rc
src/SGP4/SGP4/catalog_3l_2012_03_26_am.txt
*.unsuccessfulbuild
*.cache
